html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-6deg);
  margin: .5em;
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
  margin-left: .5em;
}

.btn-ghost:hover {
  border-color: #990073;
  color: #c09;
  background-color: rgba(153, 0, 115, .2);
}

.outer-banner {
  background-image: repeating-linear-gradient(-33deg, #c9fcff, #c9fcff 9px, #d4fdff 9px, #d4fdff 20px);
  border-top: 10px solid #b3fbff;
  border-bottom: 10px solid #b3fbff;
}

.ice-cream {
  position: relative;
  min-height: 480px;
}

.text {
  transform-origin: left center;
  text-shadow: 1px 2px rgba(0, 0, 0, .2);
  margin: 0;
  animation: fade .5s .5s ease-in forwards;
  opacity: 0;
}

.cone {
  z-index: 100;
  animation: cone 300ms ease-in forwards;
}

.mint-chip {
  animation: mint-chip 300ms 300ms ease-in forwards;
}

.chocolate-chip {
  animation: chocolate-chip 300ms 600ms ease-in forwards;
}

.vanilla-fudge {
  animation: vanilla-fudge 200ms 900ms ease-in forwards;
}

.cherry {
  animation: cherry 150ms 1500ms ease-in forwards;
}

.scoop {
  position: absolute;
  bottom: 100%;
  left: 50%;
  height: 180px;
  width: 180px;

  transform: translateX(-50%);
}

/* .mint-chip {
animation: mint-chip 400ms linear forwards;
width: 180px;
top: 140px;
z-index: 7;
left: calc(50% - 110px);
}

.chocolate-chip {
animation: chocolate-chip 500ms linear forwards;
width: 180px;
top: 50px;
z-index: 8;
left: calc(50% - 105px);
}

.vanilla-fudge {
animation: vanilla-fudge 600ms linear forwards;
width: 180px;
top: -30px;
z-index: 9;
left: calc(50% - 115px);
}

.cherry {
animation: cherry 700ms linear forwards;
width: 150px;
top: -85px;
z-index: 10;
left: calc(50% - 100px);
} */

/* @media only screen and (min-width: 90em) {

.banner {
padding-left: 10em;
padding-right: 10em;
}

.text {
padding-top: 2em;
}

} */

@keyframes fade {

  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}

@keyframes cone {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}

@keyframes mint-chip {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 104px;
  }

}

@keyframes chocolate-chip {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 190px;
  }

}

@keyframes vanilla-fudge {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 265px;
  }

}

@keyframes cherry {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 345px;
  }

}

/* @keyframes chocolate-chip {

0% {
top: -1000px;
}

100% {
top: 50px;
}

}

@keyframes vanilla-fudge {

0% {
top: -1000px;
}

100% {
top: -30px;
}

}

@keyframes cherry {

0% {
top: -1000px;
}

100% {
top: -85px;
}

} */
